<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
        Launcher
    </title>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">NodeMine</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <h1 class="display-3">Привет, игрок!</h1>
    <p class="lead">Тут информация</p>
    <hr class="my-4">
    <p>Пора выбрать версию</p>
    <p class="lead">
        <select class="form-control" name="gameVersions" id="versions">
            <option selected disabled>Выбери версию</option>
            <option>72241db3c0bdc39e39b202182ff0000da5271a1d/1.10.json</option>
        </select>

    </p>
</div>
<script>
    var vm = require("../version/VersionManager");

    var versionSelector = document.getElementById("versions");
    versionSelector.addEventListener("change",function () {
        vm.loadFiles("213");
        //vm.createDefaultDir();
    })
</script>
</body>
</html>
